<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="InputFileName" value="C:\Users\csusenfh\Desktop\Images\input.csv"/>
    <add key="ImagesFolderPath" value="C:\Users\csusenfh\Desktop\Images\images"/>
    <add key="OutputFileDirectory" value="C:\Users\csusenfh\Desktop\Images\output"/>
    <add key="Font" value="Arial"/>
    <add key="FontSize" value="20"/><!--In px-->
    <add key="Alpha" value="128"/><!--Transparency: 0 to 255-->
    <add key="Red" value="255"/><!--0 to 255-->
    <add key="Green" value="0"/><!--0 to 255-->
    <add key="Blue" value="0"/><!--0 to 255-->
    <add key="HorizontalPosition" value="0"/><!-- Horizontal position of text, based on image size. Numeric, 0 to width -->
    <add key="VerticalPosition" value="0"/><!-- Vertical position of text, based on image size. Numeric, 0 to height -->
    <add key="StringAlignment" value="Left"/><!-- One of Left, Center, Right -->
  </appSettings>
</configuration>
