<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="InputFileName" value="C:\Dump\MyCreditsafe\Watermark\Version 3\Company List\mycSealCompanys.csv"/>
    <add key="ImagesFolderPath" value="C:\Dump\MyCreditsafe\Watermark\Version 3\Watermark Images\ST1"/>
    <add key="OutputFileDirectory" value="C:\Dump\MyCreditsafe\Watermark\Version 3\SealUploadST1\output"/>
    <add key="Font" value="Verdana"/>
    <add key="FontSize" value="14"/><!--In px-->
    <add key="Alpha" value="255"/><!--Transparency: 0 to 255-->
    <add key="Red" value="35"/><!--0 to 255-->
    <add key="Green" value="35"/><!--0 to 255-->
    <add key="Blue" value="36"/><!--0 to 255-->
    <add key="HorizontalPosition" value="105"/><!-- Horizontal position of text, based on image size. Numeric, 0 to width -->
    <add key="VerticalPosition" value="32"/><!-- Vertical position of text, based on image size. Numeric, 0 to height -->
    <add key="StringAlignment" value="Center"/><!-- One of Left, Center, Right -->
    <add key="MultilineDelimiter" value="|*|"/><!-- Text delimiter for watermark text to denote a line break in text on image -->
    <add key="MultilineAdditionalSpace" value="80"/><!-- Additional vertical spacing in text lines -->
  </appSettings>
</configuration>
