################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageWatermarker/bin/Release
/ImageWatermarker/obj/Release
/packages/CsvHelper.7.1.0
/ImageWatermarker/bin/Debug
/ImageWatermarker/obj/Debug
